// Import Bootstrap Compass integration
@import "bootstrap-compass";

@import "compass/css3";

// Import custom Bootstrap variables
@import "bootstrap-variables";

@import "bootstrap-sprockets";

// Import Bootstrap for Sass
@import "bootstrap";

@import "components";
@import "small";
@import "medium";
@import "large";

/* Import the fonts */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: font-url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font-url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  font-url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  font-url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}